---
import MainLayout from '../layouts/MainLayout.astro';
const baseUrl = import.meta.env.BASE_URL;
---
<MainLayout title="Home">
<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style={`background-image:url(${baseUrl}assets/images/slider-main/bg1.jpg)`}>
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">We specialise in</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">logbook servicing, automotive electrical repairs, car air conditioning regas</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <!-- <a href="/services" class="slider btn btn-primary">Our Services</a> -->
                    <a href={ baseUrl + "contact"} class="slider btn btn-primary border">Contact Now</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style={`background-image:url(${baseUrl}assets/images/slider-main/bg2.jpg)`}>
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">Looking for a reliable mobile mechanic in Mackay?</h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Your Choice is Simple</h3>
                <p data-animation-in="slideInRight">
                    <!-- <a href="services.html" class="slider btn btn-primary border">Our Services</a> -->
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style={`background-image:url(${baseUrl}assets/images/slider-main/bg3.jpg)`}>
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title" data-animation-in="slideInDown">No waiting rooms. No towing. No wasted time</h2>
                <h3 class="slide-sub-title" data-animation-in="fadeIn">We come to you</h3>
                <!-- <p class="slider-description lead" data-animation-in="slideInRight">We will deal with your failure that determines how you achieve success.</p> -->
                <!-- <div data-animation-in="slideInLeft">
                    <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">Get Free Quote</a>
                    <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                </div> -->
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section class="call-to-action no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row">
          <div class="col-md-8 text-center text-md-left">
              <div class="call-to-action-text">
                <h3 class="action-title">We understand your needs on construction</h3>
              </div>
          </div><!-- Col end -->
          <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-primary" href={ baseUrl + "contact"}>Request Quote</a>
              </div>
          </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- Action style box -->
  </div><!-- Container end -->
</section><!-- Action end -->

<!-- <section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
    </div>
 

    <div class="row">
        <div class="col-lg-8">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="./assets/images/icon-image/service-icon1.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Home Construction</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div> 

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="./assets/images/icon-image/service-icon2.png" alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Building Remodels</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div> 

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="./assets/images/icon-image/service-icon3.png"  alt="service-icon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Interior Design</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div> 

        </div> 

        <div class="col-lg-4 text-center">
          <img loading="lazy" class="img-fluid" src="./assets/images/services/service-center.jpg" alt="service-avater-image">
        </div> 
 
        </div> 
    </div> 

  </div>
 
</section>  -->

<section id="ts-features" class="ts-features pb-2">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title text-primary">What We Do</h3>
        </div>
    </div>
    <div class="row">
         <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src={ baseUrl + "assets/images/services/service3.jpg"} alt="service-image">
              </div>
              <div class="d-flex"> 
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a href={ baseUrl + "services_mobile"}>Mobile Vehicle Service & Maintenance</a></h3>
                    <div class="d-flex justify-content-center align-items-center  mb-2">
                    <i class="fa fa-solid fa-map-marker-alt text-danger fa-xs mr-1 "></i>  Mackay Region 
                    </div>
                    <p><b>Mobile services include:</b>
                      <ul class="list-arrow">
                        <li>Logbook servicing and routine maintenance</li>
                        <li>Electrical diagnostics and fault finding</li>
                        <li>Battery testing and replacement</li>
                        <li>Alternator and starter motor repairs</li>
                        <li>Wiring repairs and accessory installations</li>
                        <li>General vehicle inspections and maintenance</li>
                      </ul>
                      <hr>
                      <ul class="pl-0" style="list-style-type:none;"> 
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> We come to you anywhere in the Mackay region</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Convenient on-site servicing</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Professional diagnostics and repairs</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Reliable, high-quality workmanship</li>
                    </ul>
                    </p>
                    <a class="learn-more d-inline-block" href={ baseUrl + "services_mobile"} aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                </div>
              </div>
          </div><!-- Service3 end -->
        </div><!-- Col 3 end -->

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src={ baseUrl + "assets/images/services/service1.jpg"} alt="service-image">
              </div>
              <div class="d-flex"> 
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a href={ baseUrl + "services_auto"}>Auto Electrician Services</a></h3>
                        <div class="d-flex justify-content-center align-items-center mb-2">
                    <i class="fa fa-solid fa-map-marker-alt text-danger fa-xs mr-1 "></i>  Mackay Region 
                    </div>
                    <p><b>Our Auto Electrical Services Include:</b>
                      <ul class="list-arrow">
                        <li>Electrical diagnostics and fault finding</li>
                        <li>Battery testing and replacement</li>
                        <li>Alternator and starter motor repairs</li>
                        <li>Wiring repairs and electrical troubleshooting</li>
                        <li>Vehicle accessory installations</li>                    
                        <li><b>4×4 and off-road electrical upgrades</b></li>
                      </ul>
                      <hr>
                      <ul class="pl-0" style="list-style-type:none;">
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Mobile service across the Mackay region</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Fast and accurate diagnostics</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Professional accessory installations</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Reliable workmanship you can trust</li> 
                      </ul>
                    </p>
                    <a class="learn-more d-inline-block" href={ baseUrl + "services_auto"} aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                </div>
              </div>
          </div><!-- Service1 end -->
        </div><!-- Col 1 end -->

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="ts-service-box">
              <div class="ts-service-image-wrapper">
                <img loading="lazy" class="w-100" src={ baseUrl + "assets/images/services/service2.jpg"} alt="service-image">
              </div>
              <div class="d-flex"> 
                <div class="ts-service-info">
                    <h3 class="service-box-title"><a href={ baseUrl + "services_air"}>Automotive Air Conditioning Regas & Maintenance</a></h3>
                     <div class="d-flex justify-content-center align-items-center mb-2">
                    <i class="fa fa-solid fa-map-marker-alt text-danger fa-xs mr-1 "></i>  Mackay Region 
                    </div>
                    <p><b>Our Air Conditioning Services Include:</b>
                      <ul class="list-arrow">
                        <li>Air conditioning system regas</li>
                        <li>System performance testing and inspection</li>
                        <li>Leak detection and system diagnostics</li>
                        <li>Compressor and component checks</li>
                        <li>Cabin air filter inspection and replacement</li>
                        <li>General air conditioning maintenance</li>
                      </ul>
                      <hr>
                      <ul class="pl-0" style="list-style-type:none;"> 
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Professional automotive air conditioning servicing</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Quality equipment and approved refrigerants</li>
                        <li> <i class="fa fa-solid fa-check fa-xs"></i> Reliable cooling performance for your vehicle</li>
                    </ul>
                    </p>
                    <a class="learn-more d-inline-block" href={ baseUrl + "services_air"} aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                </div>
              </div>
          </div><!-- Service2 end -->
        </div><!-- Col 2 end -->

     
    </div><!-- Content row end -->
  </div><!-- Container end -->
</section><!-- Feature are end -->
 


</MainLayout>