---
import MainLayout from '../layouts/MainLayout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
---
<MainLayout title="Services"> 
   <Breadcrumb title="Services" />

<section id="main-container" class="main-container pb-2">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="/assets/images/services/service1.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="/assets/images/icon-image/service-icon1.png" alt="service-icon">
              </div> -->
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">Mobile Car & Logbook Servicing <span class="text-primary">Mackay Region</span></a></h3>
                  <p>Keep your vehicle running at its best with professional logbook servicing in <span class="text-primary">Mackay Region</span>. We follow manufacturer specifications to protect your warranty while ensuring reliability and safety.</p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service1 end -->
      </div><!-- Col 1 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="/assets/images/services/service2.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="/assets/images/icon-image/service-icon2.png" alt="service-icon">
              </div> -->
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">Automotive Electrical Services <span class="text-primary">Mackay Region</span></a></h3>
                  <p>We diagnose and repair:
                  <ul class="pl-3">
                    <li>Battery and charging system issues</li>
                    <li>Starter motors and alternators</li>
                    <li>Wiring faults</li>
                    <li>Electrical diagnostics</li>
                    <li>Advanced vehicle electronics</li>
                  </ul></p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service2 end -->
      </div><!-- Col 2 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="/assets/images/services/service3.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              <!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="/assets/images/icon-image/service-icon3.png" alt="service-icon">
              </div> -->
              <div class="ts-service-info">
                  <h3 class="service-box-title"><a href="service-single.html">General Repairs & Vehicle Maintenance <span class="text-primary">Mackay Region</span></a></h3>
                  <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor suscipit.</p>
                  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
              </div>
            </div>
        </div><!-- Service3 end -->
      </div><!-- Col 3 end -->

      

    </div><!-- Main row end -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->
</MainLayout>