---
import Topbar from '../components/Topbar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import 'bootstrap/dist/css/bootstrap.min.css'; 

const { title } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Constra - Construction Html5 Template</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name=author content="Themefisher">
  <meta name=generator content="Themefisher Constra HTML Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="constra" />

  <!-- Favicon
================================================== -->
  <link rel="icon" type="image/png" href={ baseUrl + "assets/images/favicon.png"}>

  <!-- CSS
================================================== -->
  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href=".../assets/plugins/bootstrap/bootstrap.min.css"> -->

  <!-- FontAwesome -->
  <link rel="stylesheet" href={ baseUrl + "assets/plugins/fontawesome/css/all.min.css"}>
  <!-- Animation -->
  <link rel="stylesheet" href={ baseUrl + "assets/plugins/animate-css/animate.css"}>
  <!-- slick Carousel -->
  <link rel="stylesheet" href={ baseUrl + "assets/plugins/slick/slick.css"}>
  <link rel="stylesheet" href={ baseUrl + "assets/plugins/slick/slick-theme.css"}>
  <!-- Colorbox -->
  <link rel="stylesheet" href={ baseUrl + "assets/plugins/colorbox/colorbox.css"}>
  <!-- Template styles-->
  <link rel="stylesheet" href={ baseUrl + "assets/css/style.css"}>
<body><div class="body-inner">
    <Topbar/>
    <Header current={title} />
    
    <main>
        <slot /> </main>

    <Footer />

        <!-- <script>
        import 'jquery';
        import 'popper.js';
        import 'bootstrap/dist/js/bootstrap.bundle.min.js';
    </script> -->

      <!-- initialize jQuery Library -->
  <script  is:inline  src={ baseUrl + "assets/plugins/jQuery/jquery.min.js"}></script>
  <!-- Bootstrap jQuery -->
  <script is:inline  src={ baseUrl + "assets/plugins/bootstrap/bootstrap.min.js"} defer></script>
  <!-- Slick Carousel -->
  <script is:inline src={ baseUrl + "assets/plugins/slick/slick.min.js"}></script>
  <script is:inline  src={ baseUrl + "assets/plugins/slick/slick-animation.min.js"}></script>
  <!-- Color box -->
  <script is:inline  src={ baseUrl + "assets/plugins/colorbox/jquery.colorbox.js"}></script>
  <!-- shuffle -->
  <script src={ baseUrl + "assets/plugins/shuffle/shuffle.min.js"} defer></script>


  <!-- Google Map API Key-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script> -->
  <!-- Google Map Plugin-->
  <!-- <script src="./assets/plugins/google-map/map.js" defer></script> -->

  <!-- Template custom -->
  <script is:inline src={ baseUrl + "assets/js/script.js"}></script>


    </div>
</body>
</html>